@font-face {
  font-family: "yg-jalnan";
  src: url(./Fonts/JalnanOTF.woff);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "yg-jalnan", sans-serif;
  background: #ffd8e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
